body {
  background-color: #f8f9fa;
}

h2 {
  color: #000;
}

.card {
  padding: 10px;
}

.container {
  align-items: center;
  height: 50vh;
  padding: 40px 20px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.login-form {
  width: 90%;
  height: 400px;
  max-width: 1160px;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
}

.btn-dark {
  background-color: #03012f;
}

.card-body {
  padding: 1.2rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
}

.form-control {
  font-size: 1rem;
  padding: 0.75rem;
}

.custom-select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%204%205%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23000%22%20d%3D%22M2%200L0%202h4L2%200z%22/%3E%3C/svg%3E');
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.btn-dark {
  font-size: 1.1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

