
<header>
  <nav class="navbar bg-purple justify-content-between px-4" data-bs-theme="dark">
      <h3 class="text-light">Tradding App</h3>   
      <div class="menu-container">
          <ul class="nav flexing">
              <li class="padding"><a routerLink="/login">Login</a></li>
              <li class="padding"><a routerLink="/register">Register</a></li>
              <li class="padding"><a routerLink="/admin">Admin</a></li>
              <li class="padding"><a routerLink="/dashboard">Dashboard</a></li>
          </ul>

          <button type="button" class="btn btn-outline-light">Log Out</button>
      </div>
  </nav>
</header>